<article class="column is-one-quarter card-columns-nested">
    <div class="card-main">
        <div class="card-header">
            <div class="card-header-title">
                <p class="my-3 is-flex is-flex-wrap-wrap"><span class="has-text-weight-semibold">{{format_long_date appnt_date}}</span></p>
                <p class="my-3 is-flex is-flex-wrap-wrap"><span class="has-text-weight-semibold">{{format_appointment_time appnt_time}}</span></p>
            </div>
        </div>
        <div class="card-content">
            <p class="my-3"><span class="has-text-weight-semibold">With:</span> {{appnt_with_whom}}</p>
            <p class="my-3"><span class="has-text-weight-semibold">For Whom:</span> {{appnt_for_whom}}</p>
            <p class="my-3"><span class="has-text-weight-semibold">Address:</span> {{appnt_location}}</p>
            <p class="my-3"><span class="has-text-weight-semibold">Notes:</span> {{appnt_note}}</p>
        </div>
        <footer class="card-footer">
            <a class="card-footer-item edit-btn" href="/appointment/edit/{{id}}">
                <div>Edit</div>
            </a>
            <a class="card-footer-item delete-btn" href="/api/appointments/delete/{{id}}">
                <div>Delete</div>
            </a>
        </footer>
    </div>
</article>